@font-face{
	font-family: custom;
	src: url('../fonts/AVENGEANCE MIGHTIEST AVENGER.otf');
}

html {
	display:block;
}

body {
	background-color:black;
	display:block;
	max-height:600px;
}

.main {
	z-index:1;
	margin-top:110px;
	height:500px;
	min-width:1200px;
	padding-left:6em;
	background-color:white;
	position:relative;
}

.ground {
	margin-top:420px;
	margin-right:50px;
	margin-left:-6em;
	background-color: #A9C2FF;
	z-index:2;
	height:90px;
	width:100%;
	position:absolute;
}

.ryu {
	z-index:10;
	position:relative;
	float:left;
}


.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
z-index:10;
width: 659px;
height: 494px;
background-repeat: no-repeat;
}

.ryu-still {
	display:block;
}

.ryu-ready, .ryu-cool, .ryu-throwing {
	display:none;
}

.ryu-still {
	background-image:url("../images/ryu-standing-still.png");
}

.ryu-ready {
	background-image:url("../images/ryu-ready-position.gif");
}

.ryu-cool {
	background-image:url("../images/ryu-cool.gif");
}

.ryu-throwing {
	background-image:url("../images/ryu-throwing-hadouken.png");
}


.hadouken { 
	background-image:url('../images/hadouken.gif'); 
	width: 156px; 
	height: 90px; 
	float: left; 
	display:none;
	position: relative;
	top:170px;
	left:-170px;
	background-repeat: no-repeat;
}

.text-content {
	z-index:3;
	left: 550px;
	bottom:500px;
	height: 500px;
	width:600px;
	position: relative;	
}


.sf-logo {
	position:absolute;
	margin-top:100px;
	margin-left:50px;
	background-image: url('../images/sf-logo.png');
	width:500px;
	height:250px;
	display: none;
}


.jquery {
	position:absolute;
	margin-top:100px;
	margin-left:50px;
	background-image: url('../images/jquery-logo.png');
	width: 400px;
	height: 240px;
	display:none;
}

.brought-by {
	position:absolute;
	margin-top:75px;
	margin-left:50px;
	display: none;
	color: red;
	font-family: custom;
	font-size: 36px;
	width: 600px;
}

.instructions {
	position:absolute;
	margin-left:220px;
	margin-top:20px;
	display: none;
	color: red;
	font-family: custom;
	width: 600px;
}

.instructions p {
	margin-top:50px;
	width: 50%;
	color: black;
	font-size: 24px;
	line-height: 45px;
}

.bottom-instructions {
	display:none;
	margin-top:450px;
	padding-top:10px;
	padding-left:100px;
	position:absolute;
	width:1000px;
	font-family:custom;
	color: black;
	font-size: 18px;
}

.bottom-instructions > span {
	margin-left:75px;
}

.mute-button {
	background-image: url('../images/mute.png');
	background-repeat:no-repeat;
	border-radius:10px;
	display:block;
	position:absolute;
	width:45px;
	height:28px;
	margin-left:510px;
	margin-top:40px;
}

.play-button {
	display:none;
	background-image: url('../images/play.png');
	background-repeat:no-repeat;
	border-radius:10px;
	position:absolute;
	width:45px;
	height:28px;
	margin-left:510px;
	margin-top:40px;
}
